

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;

}
#SignOut {
    font-size: 100%;
    font-weight: 500;
    border-width: .2em;
    align-self: center;
    cursor: pointer;
    border-radius: 90px;
    z-index: 10;
    border: none;
}
.startButton{
    float:right;
    display: inline;
    background-color: #18cd0e;
    font-size: 100%;
    font-weight: 600;
    border-width: .2em;
    position: relative;
    bottom: 1%;
    right:1%;
    cursor: pointer;
    border-radius: 90px;
    z-index: 11;
    margin:2%;
    border: none;

}
#cardh2{
    margin:2%;
    display: inline;
    padding: 2%;
    font-size: 100%;
}
#cardp{
    font-size: 100%;
    font-weight: 500;
    border-width: .2em;
    align-self: center;
    padding: 2%;
    z-index: 10;
    border: none;

}
#title {
    text-align: center;
    color: antiquewhite;
    margin: 0;
}
#SignOut:hover {
    color:white;
    background:radial-gradient(1px 1px at 25px 5px, white, rgba(255, 255, 255, 0));
}
.CardContainer {
    background-color: #f0f0f0;
    border-radius: 20px;
    width:30%;
    height:78%;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-items: left;
    margin: 2%;
    padding: 1%;
    list-style: none;
    overflow-y: scroll;
}
.CardContainer.collapsed {
    width: 2;
    overflow: hidden;
}
.card1{
    z-index: 10;
    display: inline-block;
    background-color: #c5b8b8;
    font-size: 100%;
    font-weight: 500;
    border-width: .2em;
    width: 100%;
    border-radius: 20px;
    height: 20%;
    z-index: 10;
    border: none;
    margin:1%;

}


#break {
    width: 100%;
    margin: 0;
    border: .2em solid #f0f0f0;

}

body {
    z-index: 1;
    background: radial-gradient(circle at bottom, navy 0, black 100%);
    height: 100vh;
    overflow: hidden;
}

.space {
    z-index: 4;
    background: rgba(128, 0, 128, 0.1) center / 200px 200px round;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

#rocket {
    max-height: 20%;
    max-width: 20%;
    position: absolute;
    top:45%;
    right:58%;
    transform: rotate(-45deg);
}

#moon {
    max-height: 110%;
    max-width: 110%;
    overflow: hidden;
    position: absolute;
    top: 80%;
    right: 30%;
    transform: rotate(44deg);
}

.stars1 {
    z-index: 1;
    background-image:
        radial-gradient(1px 1px at 25px 5px, white, rgba(255, 255, 255, 0)),
        radial-gradient(1px 1px at 50px 25px, white, rgba(255, 255, 255, 0)),
        radial-gradient(1px 1px at 125px 20px, white, rgba(255, 255, 255, 0)),
        radial-gradient(1.5px 1.5px at 50px 75px, white, rgba(255, 255, 255, 0)),
        radial-gradient(2px 2px at 15px 125px, white, rgba(255, 255, 255, 0)),
        radial-gradient(2.5px 2.5px at 110px 80px, white, rgba(255, 255, 255, 0));
}

.stars2 {
    z-index: 2;
    background-image:
        radial-gradient(1px 1px at 75px 125px, white, rgba(255, 255, 255, 0)),
        radial-gradient(1px 1px at 100px 75px, white, rgba(255, 255, 255, 0)),
        radial-gradient(1.5px 1.5px at 199px 100px, white, rgba(255, 255, 255, 0)),
        radial-gradient(2px 2px at 20px 50px, white, rgba(255, 255, 255, 0)),
        radial-gradient(2.5px 2.5px at 100px 5px, white, rgba(255, 255, 255, 0)),
        radial-gradient(2.5px 2.5px at 5px 5px, white, rgba(255, 255, 255, 0));
}

.stars3 {
    z-index: 3;
    background-image:
        radial-gradient(1px 1px at 10px 10px, white, rgba(255, 255, 255, 0)),
        radial-gradient(1px 1px at 150px 150px, white, rgba(255, 255, 255, 0)),
        radial-gradient(1.5px 1.5px at 60px 170px, white, rgba(255, 255, 255, 0)),
        radial-gradient(1.5px 1.5px at 175px 180px, white, rgba(255, 255, 255, 0)),
        radial-gradient(2px 2px at 195px 95px, white, rgba(255, 255, 255, 0)),
        radial-gradient(2.5px 2.5px at 95px 145px, white, rgba(255, 255, 255, 0));
}
::-webkit-scrollbar {
    width: 10px;
    display:none;
  }
  
  /* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  
  .container {
    overflow: hidden;
    background-repeat: repeat;
    height: 100%;
    width: 100%;
    min-width: 100%;
    min-height: 500%;
  }
  
  .sliding-background {
    min-width: 100%;
    min-height: 2000%;
    width: 200%;
    --imageHeight: 100%;
    --imageWidth: 200%;
    background-repeat: repeat;
    z-index: 1;
    height: calc(var(--imageHeight) * 3);
    animation: slide 400s linear infinite;
    margin: 0;
    padding: 0;
  }
  
@keyframes slide { 
    from {
        transform: translateY(calc(var(--imageHeight) * -1));
    }
    to {
        transform: translateY(0);
    }
}

#step-card {
    z-index: 10;
    background: white;
}

#rocketTest1 {
    max-height: 20%;
    max-width: 20%;
    position: absolute;
    top:98%;
    right:58%;
    transform: rotate(-45deg);
    z-index: 10;
}

#rocketTest2 {
    max-height: 20%;
    max-width: 20%;
    position: absolute;
    top:95%;
    right:58%;
    transform: rotate(-45deg);
    z-index: 10;
}